POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db_name
POSTGRES_HOST=your_postgres_hostname
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

TELEGRAM_BOT_TOKEN=''
TELEGRAM_GROUP_CHAT_ID=''
TELEGRAM_CHAT_ID=''